/* source of book https://codepen.io/Penno/pen/MJevVP */
@import 'reset.css';

body {
  font-family: sans-serif;
  background-image: radial-gradient(#ece0ec 10%, transparent 0);
  background-size: 20px 20px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
}

h1 {
  font-size: 2.8rem;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 2rem;
  align-self: center;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.9rem;
  margin-top: 1.5rem;
}

h4 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

h5 {
  font-size: 1.2rem;
  font-weight: bold;
}

p, li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.7;
  max-width: 85%;
}

p li {
  list-style: none;
  min-width: 370px;
  max-width: 85%;
}

article li::before {
  content: "⬤";
  color: #754575;
  box-shadow: 0 -4px -2px 0 white, 0 4px 4px 2px #fafafa;
  margin-right: 1rem;
  font-size: 0.7rem;
}

.weekly-nerd-book {
  max-width: 80vw;
  max-height: 700px;
  margin-bottom: 11rem;
}

.article_toggle {
  display: flex;
  flex-direction: row;
  background-color: #ece0ec;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  justify-content: space-around;
  /* align-content: center; */
}

.article_toggle li {
  align-self: center;
  border-bottom: 3px solid #754575;
  margin-bottom: 0;
}

.article_toggle a {
  font-size: 1.4rem;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

.artikelen {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
}

.artikelen h2 {
  margin-top: 3rem;
}

.artikelen h2::before {
  content: "🦄";
  color: #754575;
  box-shadow: 0 -4px -2px 0 white, 0 4px 4px 2px #fafafa;
  margin-right: 1rem;
  /* font-size: 0.7rem; */
}

.artikelen h3 {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}


.artikelen img {
  max-width: 100%;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  max-height: 60vh;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5rem 10px;
  padding: 0.5rem 10px;
  max-width: 80%;
}

blockquote:before {
  color: #ccc;
  font-size: 4rem;
  line-height: 0.1rem;
  margin-right: 1rem;
  vertical-align: -0.4rem;
}

blockquote p {
  display: inline;
  font-style: italic;
}

strong {
  font-weight: bold;
}

.book {
  width: 100%;
  height: 100%;
  perspective: 1500px;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.book h2 {
  font-family: serif;
  letter-spacing: 1.8px;
}

.page {
  width: 49%;
  min-width: 400px;
  height: 98%;
  padding: 20px;
  position: absolute;
  top: 1%;
  left: 50%;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 10%);
  transition: transform 0.5s;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: left center;
  z-index: 4;
}

.page:nth-of-type(2n) {
  left: 1px;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0) 10%);
  transform-origin: right center;
  transform: rotateY(0);
}

.page:nth-of-type(2n):not(.cover) {
  left: calc(1% + 1px);
}

.page h2 {
  text-align: center;
}

.page h2+p::first-letter {
  font-size: 44px;
  float: left;
  height: 44px;
  line-height: 36px;
  vertical-align: baseline;
  margin-right: 6px;
  border-radius: 5px;
}

input[type="radio"] {
  display: none;
}

input:checked~.page {
  transform: rotateY(0);
}

input:checked~.page:nth-of-type(2n) {
  transform: rotateY(180deg);
}

input:checked~.page:nth-of-type(2n-1) {
  z-index: 3;
}

input:checked~.page:nth-of-type(2n-1)~.page:nth-of-type(2n-1) {
  z-index: 1;
}

input:checked+.page+.page+input+.page {
  z-index: 2 !important;
}

.cover {
  width: 50%;
  height: 100%;
  top: 0;
  border-radius: 0 3px 3px 0;
  background-color: #5c365c;
}

.cover h1 {
  color: #754575;
  text-align: center;
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
  margin-top: 50%;
  position: relative;
}

.cover h1::after {
  content: "";
  display: block;
  width: 60px;
  position: absolute;
  bottom: -20px;
  margin-left: -30px;
  left: 50%;
  border-top: 1px solid #754575;
  box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.5);
}

.cover+.cover {
  border-radius: 3px 0 0 3px;
}

.cover:first-of-type, .cover:last-of-type {
  background-image: none;
}

.cover:first-of-type::before, .cover:last-of-type::before {
  content: "";
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 2px dashed rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 9px;
  left: 9px;
}

.sketchnotes {
  max-width: 100%;
  max-height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book p {
  max-width: 85%;
  max-height: 100%;
  font-size: 1.2rem;
}

.weekly-nerd-inleiding {
  padding: 1rem 0 3rem 1rem;
  max-width: 50%;
  max-height: 100%;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.artikelen_wrapper article {
  padding: 2rem 4rem;
  border-radius: 6px;
  background: #fefefe;
  box-shadow: inset 6px 6px 12px #f1f1f1,
    inset -6px -6px 12px #ffffff;
  margin-bottom: 4rem;
}

/* EXAMPLES IN 'Atomic Design'-ARTICLE */
.example {
  padding: 2rem;
  border-radius: 6px;
  background: #fefefe;
  box-shadow: inset 6px 6px 12px #f1f1f1,
    inset -6px -6px 12px #ffffff;
  min-width: 370px;
  width: 40%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 2rem 0rem;
}

.button {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.button button {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 1rem 2rem;
  width: 15rem;
  border-radius: 6px;
  background-color: #490c63;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 1.3px;
}
